*{

}
body {
    background-color:honeydew;
    text-align: center;
}
h1 {
    color: rgb(82, 133, 31);
}
p {
    border: 2px outset rgba(34, 190, 86, 0.836);
    padding: auto;
    margin: 20px;
    }
    ul{
        margin: 20px;
        text-align:center;
    }
ol{
    margin: 20px;
    align-self: inherit;
    text-rendering: auto;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration:underline;